Python Numeric Data type

In [1]:
# create a variable with integer value.
a=100
print("The type of variable having value", a, "is",type(a))

#create a variable with float value.
b=10.2345
print("The type of variable having value", b, "is", type(b))

#create a varible with complex value.
c=100+3j
print("The type of variable having value", c , "is", type(c))

The type of variable having value 100 is <class 'int'>
The type of variable having value 10.2345 is <class 'float'>
The type of variable having value (100+3j) is <class 'complex'>

Python String Data type

In [2]:
a = "string in a double quote"
b = 'string in a single quote'
print(a)
print()
print(b)
print()

#using ',' to concatenate the two or several strings
print(a,"concatenated with",b)

print()
#using '+' to concate the two or several strings
print(a+"concated with "+b)

string in a double quote

string in a single quote

string in a double quote concatenated with string in a single quote

string in a double quoteconcated with string in a single quote

Python List Data type

In [3]:
#list of having only integers
a= [1,2,3,4,5,6]
print(a)
print()

#list of having only strings
b=["hello","john","reese"]
print(b)
print()

#list of having both integers and strings
c=["hey","you",1,2,3,"go"]
print(c)
print()

#index are 0 based. this will print a single character 
print(c[1]) #this will print "you" in list c

[1, 2, 3, 4, 5, 6]

['hello', 'john', 'reese']

['hey', 'you', 1, 2, 3, 'go']

you

Python tuples

In [4]:
#tuple having only integer type of data.
a=(1,2,3,4)
print(a)#prints the whole tuple
print()

#tuple having multiple type of data.
b=("hello",1,2,3,"go")
print(b)#prints the whole tuple
print()

#index of tuples are also 0 based.
print(b[4])#this prints a single element in a tuple, in this case "go"

(1, 2, 3, 4)

('hello', 1, 2, 3, 'go')

go

Python Dictionary

In [5]:
#a sample dictionary variable

a={1:"first name",2:"last name", "age":33}
print(a)
print()

#print value having key=1
print(a[1])
print()

#print value having key=2
print(a[2])
print()

#print value having key="age"
print(a["age"])

{1: 'first name', 2: 'last name', 'age': 33}

first name

last name

33

Python Set

In [6]:
a= {5,2,3,1,4}
print(a)
print()

#printing set variable
print("a = ",a)
print()

#data type of variable a 
print("the data type of a is :",type(a))

{1, 2, 3, 4, 5}

a =  {1, 2, 3, 4, 5}

the data type of a is : <class 'set'>

In [7]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [11]:
float(5)

5.0

In [12]:
int(10.6)

10

In [13]:
int(-10.6)

-10

In [14]:
float('2.5')

2.5

In [15]:
str(25)

'25'

In [16]:
set([1,2,3])

{1, 2, 3}

In [17]:
tuple({5,6,7})

(5, 6, 7)

In [18]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [19]:
#to comvert to dictionary, each element must be a pair:
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [20]:
dict([(3,26),(4,44)])

{3: 26, 4: 44}